:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #ffffff;
  background-color: #0b1215;

  --status-bar-background-color: #17262c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(background-color);
  color: var(color);
}

.status-bar {
  display: flex;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 26px;
  width: 100%;
  background-color: var(--status-bar-background-color);
  
}