:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #ffffff;
  background-color: #0b1215;

  --status-bar-background-color: #17262c;
  --status-bar-hover-color: #101a1f;
  --status-bar-select-color: #0b1215;

  --tab-bar-height: 32px;
  --status-bar-height: 26px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(background-color);
  color: var(color);
}

#header-bar {
  display: flex;
  position: fixed;
  left: 0px;
  top: 0px;
  height: var(--tab-bar-height);
  width: 100%;
  background-color: var(--status-bar-background-color);
  border-bottom-color: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

#tab-links {
  display: flex;
  justify-content: left;
  align-items: start;
  height: 100%;
}

#tab-link {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  cursor: pointer;
  user-select: none;
}

#tab-link:hover {
  background-color: var(--status-bar-hover-color);
}

#tab-link.active {
  background-color: var(--status-bar-select-color);
}

#main-container {
  display: flex;
  position: fixed;
  left: 0px;
  top: var(--tab-bar-height);
  height: calc(100% - var(--status-bar-height) - var(--tab-bar-height));
  width: 100%;
}

#tabs-contents {
  width: 100%;
  height: 100%;
}

#tabs-contents div {
  width: 100%;
  height: 100%;
  display: none;
}

#tabs-contents div.active {
  display: block;
}

#status-bar {
  display: flex;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: var(--status-bar-height);
  width: 100%;
  background-color: var(--status-bar-background-color);
  border-top-color: black;
  border-top-width: 1px;
  border-top-style: solid;
}